APP_NAME="Reactor"
APP_ENV=production
DEBUG_MODE=false

TOKEN=00000000::xxxxxxxxxxxxxxxxxx
API_URL=https://api.telegram.org/bot
BOT_MODE=polling
MULTI_PROCESS=false
WEBHOOK_SECRET=
PHP_BINARY=/usr/bin/php

DB_CONNECTION=sqlite
DB_DATABASE=database/test.sqlite
DB_TYPE=sqlite